mixin storeCard(store = {})
.store      
    .store__hero 
        .store__actions 
            .store__action.store__action--edit
                a(href=`/stores/${store._id}/edit`)
                    != h.icon('pencil')
        img(src=`/uploads/${store.photo || 'store.png'}`)
        h2.title 
            a(href=`/store${store.slug}`) #{store.name}
            //- when you want to generate an attribute you must use the es6 `${}`
            //- if you want to put a variable inside of text content of node use #{}
    .store__details
        p= store.description.split(' ').slice(0, 25).join(' ') // maximum number of 25 characters in the description